html, body{
  padding: 0;
  margin: 0;
}

.header1{
    text-align: center;
}

.btn-form-ok, .btn-form-reset{
  text-align: center;

}

.form-main{
  margin: 0 auto;
}

.table-results > tr > td {
  border: 1px solid black;
}
